<div class="container">
  <div class=" center-block">
    <%= link_to 'Summaries', summaries_path, class: "btn btn-primary" %>
    <%#= link_to 'Update', new_summary_path, class: "btn btn-info float-right" %>
    <%= link_to 'Update', duplicate_path, method: :get,class: "btn btn-info float-right" %>
    <h3 class=" center-vh-container">
      <strong>Fire <%= @summary.number %>  –  <%= @summary.name %></strong>           
    </h3>
    <div class="row">
      <ul class="updates">
        <% @updates.each do |u|  %>
        <li>
          <%= link_to u.date.try(:strftime, '%m/%d'), u, class: "summary-date" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <p class="col-sm-6">
        <strong><%= @summary.date.try(:strftime, "%b %e, %Y") %></strong>
      </p>
    </div>

    <div class="row">
      <p class="col-sm-4">
        <strong>IC</strong>
        <%= @summary.ic %>  / <%= @summary.management_organization %>
      </p>
      <p class="col-sm-2">
        <strong>Size</strong>
        <%= @summary.size %>
      </p>
      <p class="col-sm-6">
        <% if !@summary.fuel_type.empty? %>
          <strong>Fuel type</strong>
          <%= @summary.fuel_type %>
      <% end %>
      </p>
    </div>
      <p class="col-med-12">
        <% if !@summary.area_description.empty? %>  
            <strong>Area Description</strong>
            <%= @summary.area_description %>
        <% end %>
    </p>

    <div class="row">
      <p class="col-sm-6">
        <% if !@summary.suppression_strategy.empty? %>
          <strong>Suppression strategy</strong>
          <%= @summary.suppression_strategy %>
        <% end %>
      </p>
    </div>  
    <div class="row">
      <p class="col-sm-6">
        <% unless @summary.percent_complete.empty? %>
          <strong>% Complete</strong>
          <%= @summary.percent_complete %> %
        <% end %>
      </p>
    </div>
    <!-- <p class="col-med-12">
      <strong>Incident type:</strong>
      <%#= @summary.incident_type %>
    </p> -->

    <!-- <p class="col-med-12">
      <strong>Cause:</strong>
      <%#= @summary.cause %>
    </p> -->
<!-- 
    <p class="col-med-12">
      <strong>Complexity</strong>
      <%#= @summary.complexity %>
    </p>

    <p class="col-med-12">
      <strong>Report date</strong>
      <%#= @summary.report_date %>
    </p>

    <p class="col-med-12">
      <strong>Prepared by</strong>
      <%#= @summary.prepared_by %>
    </p>

    <p class="col-med-12">
      <strong>Approved by</strong>
      <%#= @summary.approved_by %>
    </p>

    <p class="col-med-12">
      <strong>Primary agency</strong>
      <%#= @summary.primary_agency %>
    </p>

    <p class="col-med-12">
      <strong>State</strong>
      <%#= @summary.state %>
    </p>

    <p class="col-med-12">
      <strong>County</strong>
      <%#= @summary.county %>
    </p>

    <p class="col-med-12">
      <strong>City</strong>
      <%#= @summary.city %>
    </p>

    <p class="col-med-12">
      <strong>Jurisdiction</strong>
      <%#= @summary.jurisdiction %>
    </p>

    <p class="col-med-12">
      <strong>Ownership</strong>
      <%#= @summary.ownership %>
    </p>

    <p class="col-med-12">
      <strong>Coordinates</strong>
      <%#= @summary.latitude %> x <%= @summary.longitude %>
    </p> -->


    <p class="col-med-12">
      <strong>Fire behavior</strong>
      <%= @summary.fire_behavior %>
    </p>

    <p class="col-med-12">
      <strong>Narrative</strong>
      <%= @summary.narrative %>
    </p>

    <p class="col-med-12">
      <% unless @summary.damage_assessment.empty? %>
        <%= @summary.damage_assessment %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.injuries.empty? %>
        <strong>Injuries</strong>
        <%= @summary.injuries %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_remark.empty? %>
        <strong>Threat remark</strong>
        <%= @summary.threat_remark %>
      <% end %>
    </p>

    <p class="col-med-12">
      <strong>Weather</strong>
      <%= @summary.weather %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_12.empty? %>
        <strong>Projected spread 12</strong>
        <%= @summary.projected_spread_12 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_24.empty? %>
        <strong>Projected spread 24</strong>
        <%= @summary.projected_spread_24 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_48.empty? %>
        <strong>Projected spread 48</strong>
        <%= @summary.projected_spread_48 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_after.empty? %>
        <strong>Projected spread 72</strong>
        <%= @summary.projected_spread_72 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_after.empty? %>
        <strong>Projected spread after</strong>
        <%= @summary.projected_spread_after %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.stragetic_objectives.empty? %>
        <strong>Stragetic objectives</strong>
        <%= @summary.stragetic_objectives %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_12 %>
        <strong>Threat 12</strong>
        <%= @summary.threat_12 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_24.empty? %>
        <strong>Threat 24</strong>
        <%= @summary.threat_24 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_48.empty? %>
        <strong>Threat 48</strong>
        <%= @summary.threat_48 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_72.empty? %>
        <strong>Threat 72</strong>
        <%= @summary.threat_72 %>
      <% end %>
    </p>

    <p class="col-med-12">
      <strong>Threat after</strong>
      <%= @summary.threat_after %>
    </p>

    <p class="col-med-12">
      <strong>Critical needs 12</strong>
      <%= @summary.critical_needs_12 %>
    </p>

    <p class="col-med-12">
      <strong>Critical needs 24</strong>
      <%= @summary.critical_needs_24 %>
    </p>

    <p class="col-med-12">
      <strong>Critical needs 48</strong>
      <%= @summary.critical_needs_48 %>
    </p>

    <p class="col-med-12">
      <strong>Critical needs 72</strong>
      <%= @summary.critical_needs_72 %>
    </p>

    <p class="col-med-12">
      <strong>Critical needs after</strong>
      <%= @summary.critical_needs_after %>
    </p>

    <p class="col-med-12">
      <strong>Strategic discussion</strong>
      <%= @summary.strategic_discussion %>
    </p>

    <p class="col-med-12">
      <strong>Tomorrows plan</strong>
      <%= @summary.tomorrows_plan %>
    </p>

    <p class="col-med-12">
      <strong>Anticipated completion</strong>
      <%= @summary.anticipated_completion %>
    </p>

    <p class="col-med-12">
      <strong>Cost</strong>
      <%= @summary.cost %>
    </p>

    <p class="col-med-12">
      <strong>Remarks</strong>
      <%= @summary.remarks %>
    </p>

    <p class="col-med-12">
    <strong>Resources</strong>
      <%= @summary.resources %>
    </p>

    <p class="col-med-12">
      <strong>Cooperators</strong>
      <%= @summary.cooperators %>
    </p>
    <br>
    <%= link_to 'Edit', edit_summary_path(@summary) %>
  </div>
</div>

