<div class="container">
  <div class="col-md-8 center-block">
    <%= link_to 'Summaries', summaries_path, class: "btn btn-primary" %>
    <%= link_to 'Update', duplicate_path, method: :get,class: "btn btn-info float-right" %>
    <h3 class=" center-vh-container">
      <strong>Fire <%= @summary.number %>  –  <%= @summary.name %></strong>           
    </h3>
    <div class="row">
      <ul class="updates">
        <% @updates.order(date: :desc).each do |u|  %>
        <li>
          <%= link_to u.date.try(:strftime, '%m/%d'), u, class: "summary-date" %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <p class="col-sm-6">
        <strong><%= @summary.date.try(:strftime, "%b %e, %Y") %></strong>
      </p>
    </div>

    <div class="row">
      <p class="col-sm-4">
        <strong>IC</strong>
        <%= best_in_place @summary, :ic, :as => :input %>  / <%= best_in_place @summary, :management_organization, :as => :input %>
      </p>
      <p class="col-sm-2">
        <strong>Size</strong>
        <%= best_in_place @summary, :size, as: :input %>
      </p>
      <p class="col-sm-6">
        <% if !@summary.fuel_type.empty? %>
          <strong>Fuel type</strong>
          <%= best_in_place @summary, :fuel_type, as: :input %>
      <% end %>
      </p>
    </div>

    <% if !@summary.area_description.empty? %>  
      <div class="row">
        <p class="col-sm-12">
              <strong>Area Description</strong>
              <%= best_in_place @summary, :area_description, as: :textarea %>
        </p>
      </div>
    <% end %>

    <div class="row">
      <p class="col-sm-6">
        <% if !@summary.suppression_strategy.empty? %>
          <strong>Suppression strategy</strong>
          <%= best_in_place @summary, :suppression_strategy, as: :textarea %>
        <% end %>
      </p>
    </div>  
    <div class="row">
      <p class="col-sm-6">
        <% unless @summary.percent_complete.empty? %>
          <strong>Percent Complete</strong>
          <%= best_in_place @summary, :percent_complete, as: :input %> %
        <% end %>
      </p>
    </div>
    <!-- <p class="col-med-12">
      <strong>Incident type:</strong>
      <%#= @summary.incident_type %>
    </p> -->

    <!-- <p class="col-med-12">
      <strong>Cause:</strong>
      <%#= @summary.cause %>
    </p> -->
<!-- 
    <p class="col-med-12">
      <strong>Complexity</strong>
      <%#= @summary.complexity %>
    </p>

    <p class="col-med-12">
      <strong>Report date</strong>
      <%#= @summary.report_date %>
    </p>

    <p class="col-med-12">
      <strong>Prepared by</strong>
      <%#= @summary.prepared_by %>
    </p>

    <p class="col-med-12">
      <strong>Approved by</strong>
      <%#= @summary.approved_by %>
    </p>

    <p class="col-med-12">
      <strong>Primary agency</strong>
      <%#= @summary.primary_agency %>
    </p>

    <p class="col-med-12">
      <strong>State</strong>
      <%#= @summary.state %>
    </p>

    <p class="col-med-12">
      <strong>County</strong>
      <%#= @summary.county %>
    </p>

    <p class="col-med-12">
      <strong>City</strong>
      <%#= @summary.city %>
    </p>

    <p class="col-med-12">
      <strong>Jurisdiction</strong>
      <%#= @summary.jurisdiction %>
    </p>

    <p class="col-med-12">
      <strong>Ownership</strong>
      <%#= @summary.ownership %>
    </p>

    <p class="col-med-12">
      <strong>Coordinates</strong>
      <%#= @summary.latitude %> x <%= @summary.longitude %>
    </p> -->


    <p class="col-med-12">
      <strong>Fire behavior</strong>
      <%= best_in_place @summary, :fire_behavior, as: :textarea %>
    </p>

    <p class="col-med-12">
      <strong>Narrative</strong>
      <%= best_in_place @summary, :narrative, as: :textarea %>
    </p>

    <p class="col-med-12">
      <% unless @summary.damage_assessment.empty? %>
        <%= best_in_place @summary, :damage_assessment, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.injuries.empty? %>
        <strong>Injuries</strong>
        <%= @summary.injuries %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_remark.empty? %>
        <strong>Threat remark</strong>
        <%= best_in_place @summary, :threat_remark, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <strong>Weather</strong>
      <%= best_in_place @summary, :weather, as: :textarea %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_12.empty? %>
        <strong>Projected spread 12</strong>
        <%= best_in_place @summary, :projected_spread_12, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_24.empty? %>
        <strong>Projected spread 24</strong>
        <%= best_in_place @summary, :projected_spread_24, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_48.empty? %>
        <strong>Projected spread 48</strong>
        <%= best_in_place @summary, :projected_spread_48, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_after.empty? %>
        <strong>Projected spread 72</strong>
        <%= best_in_place @summary, :projected_spread_72, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.projected_spread_after.empty? %>
        <strong>Projected spread after</strong>
        <%= best_in_place @summary, :projected_spread_after, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.stragetic_objectives.empty? %>
        <strong>Stragetic objectives</strong>
        <%= best_in_place @summary, :stragetic_objectives, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_12 %>
        <strong>Threat 12</strong>
        <%= best_in_place @summary, :threat_12, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_24.empty? %>
        <strong>Threat 24</strong>
        <%= best_in_place @summary, :threat_24, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_48.empty? %>
        <strong>Threat 48</strong>
        <%= best_in_place @summary, :threat_48, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% unless @summary.threat_72.empty? %>
        <strong>Threat 72</strong>
        <%= best_in_place @summary, :threat_72, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% if @summary.threat_after? %>
        <strong>Threat after</strong>
        <%= best_in_place @summary, :threat_after, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% if @summary.critical_needs_12? %>
        <strong>Critical needs 12</strong>
        <%= best_in_place @summary, :critical_needs_12, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% if @summary.critical_needs_24? %>
        <strong>Critical needs 24</strong>
        <%= best_in_place @summary, :critical_needs_24, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% if @summary.critical_needs_48? %>
        <strong>Critical needs 48</strong>
        <%= best_in_place @summary, :critical_needs_48, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <% if @summary.critical_needs_72? %>
        <strong>Critical needs 72</strong>
        <%= best_in_place @summary, :critical_needs_72, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
     <% if @summary.critical_needs_after? %>
        <strong>Critical needs after</strong>
        <%= best_in_place @summary, :critical_needs_after, as: :textarea  %>
      <% end %> 
    </p>

    <p class="col-med-12">
      <% if @summary.strategic_discussion? %>
        <strong>Strategic discussion</strong>
        <%= best_in_place @summary, :strategic_discussion, as: :textarea  %>
      <% end %>
    </p>

    <p class="col-med-12">
      <strong>Tomorrows plan</strong>
      <%= best_in_place @summary, :tomorrows_plan, as: :textarea %>
    </p>

    <p class="col-med-12">
      <% if  %>
        <strong>Anticipated completion</strong>
        <%= @summary.anticipated_completion %>
      <% end %>
    </p>

    <p class="col-med-12">
      <strong>Cost</strong>
      <%= @summary.cost %>
    </p>

    <p class="col-med-12">
      <strong>Remarks</strong>
      <%= best_in_place @summary, :remarks, as: :input %>
    </p>

    <p class="col-med-12">
    <strong>Resources</strong>
      <%= best_in_place @summary, :resources, as: :input %>
    </p>

    <p class="col-med-12">
      <% if @summary.cooperators? %>
        <strong>Cooperators</strong>
        <%= best_in_place @summary, :cooperators, as: :input %>
      <% end %>
    </p>
    <br>
    <%= link_to 'Edit', edit_summary_path(@summary), class: "btn btn-warning " %>
    <%= link_to "DELETE SUMMARY", @summary,
                        method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger float-right" %>
  </div>
</div>

